body {
  margin: 0;
  padding: 0;
  width: auto;
}

/* .track {
  height: 10px;
  background-color: blue;
  width: 100%;
  display: flex;
} */

.horse {
  height: 50px;
  width: 50px;
  display: flex;
}